@font-face {
    font-family: "DM-italic";
    src: url(../fonts/DM_Sans/DMSans-Italic-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "DM-variableFont";
    src: url(../fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}