@use "../abstracts/variables" as variables;

body {
    font-family: variables.$font-italic;
    background-color: #faf2e7;
}

a {
    text-decoration: none;
    border-radius: 0.9rem;
    padding: 1rem;
}