header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10rem;

    a {
        background: linear-gradient(to right, #1a5739, #4f7d33, #739929);
        color: white;
    }

    img {
        width: 5%;
    }
}